
/* addTask styles starts here */
.acontainer{
    background-color: rgb(237, 196, 92,0.6);
    width: 30rem;
    padding: 15px 30px;
    margin:auto;
   border-radius: 20px ;
   font-family: 'Martian Mono', monospace;
   position: relative;

}
.aHeading{
    text-align: center;
  
}
.field1{
    font-size: 4px;
    padding-bottom: 20px;
}

.column{
    display: flex;
}

.checkbox{
    width: 20px;
    height: 20px;
    transform: translateY(4px)
}

.dateInputBox{
    margin-top: 10px;
    border-radius: 5px;
}

.taskInputBox{
    margin-left: 20px;
    width: 20rem; /* Adjust the width to change the size of the input box */
    height: 30px;
    border-radius: 5px;
}

.addTaskButton{
    position: absolute;
    left:250px;
    border-radius: 7px;
    padding: 10px;
    transform: translateY(-20px);
    color: white;
    background-color: black;
    font-family: 'Martian Mono', monospace;
}

/* addTask.js styles ends here */


/* header.js styles starts here */
.hcontainer{
    font-family: 'Martian Mono', monospace;
    text-align: center;
    margin-top: 10px;
  

}

/* for the taskcard */
.schedule{
    display: flex;
    
}
.startDate{
    margin-right: 10px;
}
.endDate{
    margin-left: 10px;
}
.align{
    display: flex;
    transform: translateY(-30px);
}
.content{
    text-decoration: none;
  
    background-color: rgba(58, 65, 65, 0.4);
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
   
}
.header{
    font-size: 15px;
  

}
.headers{
    font-size: 15px;
    font-weight: bold;
    transform: translateY(0px);
    margin-bottom: 10px;

}

.schedule{
    color: bisque;
    font-size: 6px;
}
.trashIcon{
    height: 20px;
    transform: translateY(40px);
    margin-right: 7px;

}
.editIcon{
    transform: translateX(-20px);
    height: 20px;
}
.name{
    display: flex;
}
.taskIcon{
    margin-right: 10px;
}

/* tasklist styles */

.addTaskBtn{
    color: white;
    background-color: rgb(72, 67, 67);
    font-family: 'Martian Mono', monospace;
    border-radius: 10px;
   margin-left: 23rem;
}
.tHeading{
text-align: center;
margin-bottom: 60px;
}

